# Игнорировать все файлы .pyc
*.pyc

# Игнорировать все файлы __pycache__
__pycache__/

# Игнорировать все файлы .pyo
*.pyo

# Игнорировать все скомпилированные файлы Python
*.pyd

# Игнорировать виртуальное окружение Python (если используется)
venv/
