{% extends "./base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}{% call_get_text "Qabul" language True%}{% endblock %}

{% block body %}

{% include "./header.html" %}
<div class="containerr" >
    <h2>Ma'lumotlarni kiriting</h2>
    <form method="post">
        
        {% csrf_token %}
        <div class="row align-items-center">
            <div class="col-6"><label for="id_full_name" >To'liq ismi:</label></div>
            <div class="col-6 text-start">{{ form.full_name }}</div>
        </div>
        <div class="row align-items-center">
            <div class="col-6"><label for="id_passport">Passport seriya va raqami:</label></div>
            <div class="col-6 text-start">{{ form.passport }}</div>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-6"><label for="id_address">Address:</label></div>
            <div class="col-6 text-start">{{ form.address }}</div>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-6"><label for="id_phone_number">Telefon raqami:</label></div>
            <div class="col-6 text-start">{{ form.phone_number }}</div>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-6"><label for="id_directions">Yo'nalish:</label></div>
            <div class="col-6 text-start">{{ form.directions }}</div>
        </div>
        <br>
        <div class="row align-items-center">
            <div class="col-6"><label for="id_education_type">Ta'lim shakli:</label></div>
            <div class="col-6 text-start">{{ form.education_type }}</div>
            
            
        </div>
        <br>
        <button type="submit">Jo'natish</button>
    </form>
</div>
{% include "./footer.html" %}

<!-- Java script-->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}