{% load static %}
{% load my_tags %}
<footer class="page-footer">
  <div class="hr bg-gray-light"></div>
  <div class="container section-xs block-after-divider">
    <div class="row row-50 justify-content-xl-between justify-content-sm-center">
      <div class="col-lg-3 col-xl-2">
        <!--Footer brand--><a class="d-inline-block" href="index.html"><img width='170' height='170'
            src="{% static 'images/logo.png' %}" alt='' />
          <div>
            <h6 class="barnd-name fw-bold offset-top-25">{% call_get_text 'title-1' language True%}</h6>
          </div>
          <div>
            <p class="brand-slogan text-gray fst-italic font-accent">{% call_get_text 'title-2' language True%}</p>
          </div>
        </a>
      </div>
      <div class="col-sm-10 col-lg-5 col-xl-4 text-xl-start">
        <h6 class="fw-bold">{% call_get_text 'contact' language True%}</h6>
        <div class="text-subline"></div>
        <div class="offset-top-30">
          <ul class="list-unstyled contact-info list">
            <li>
              <div class="unit flex-row align-items-center unit-spacing-xs">
                <div class="unit-left"><span class="icon mdi mdi-phone align-middle icon-xs text-madison"></span></div>
                <div class="unit-body"><a class="text-dark" href="tel:#">1-800-1234-567,</a> <a
                    class="d-block d-lg-inline-block text-dark" href="tel:#">1-800-6547-321</a>
                </div>
              </div>
            </li>
            <li class="offset-top-15">
              <div class="unit flex-row align-items-center unit-spacing-xs">
                <div class="unit-left"><span class="icon mdi mdi-map-marker align-middle icon-xs text-madison"></span>
                </div>
                <div class="unit-body text-start"><a class="text-dark" href="#">2130 Fulton Street San Diego, CA
                    94117-1080 USA</a></div>
              </div>
            </li>
            <li class="offset-top-15">
              <div class="unit flex-row align-items-center unit-spacing-xs">
                <div class="unit-left"><span class="icon mdi mdi-email-open align-middle icon-xs text-madison"></span>
                </div>
                <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="offset-top-15 text-start">
          <ul class="list-inline list-inline-xs list-inline-madison">
            <li><a class="icon icon-xxs fa fa-facebook icon-circle icon-gray-light-filled" href="#"></a></li>
            <li><a class="icon icon-xxs fa fa-twitter icon-circle icon-gray-light-filled" href="#"></a></li>
            <li><a class="icon icon-xxs fa fa-google icon-circle icon-gray-light-filled" href="#"></a></li>
            <li><a class="icon icon-xxs fa fa-instagram icon-circle icon-gray-light-filled" href="#"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-10 col-lg-8 col-xl-4 text-xl-start b-r-h" style="padding: 0 !important;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6380.52755843208!2d60.60032661091538!3d41.56595516206249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfcfa155e57805%3A0x42f1e95b7cdf7bd2!2sUrganch%20innovatsion%20universiteti!5e0!3m2!1sru!2s!4v1710843889871!5m2!1sru!2s" width="400" height="280" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
  <div class="bg-madison context-dark">
    <div class="container text-lg-start section-5">
      <p class="rights"><span>&copy;&nbsp;</span><span
          class="copyright-year"></span><span>.&nbsp;</span><span>Создатель</span><span>.&nbsp;</span><a
          href="tel:+998907269080">Аллаяров Шохзод</a></p>
    </div>
  </div>
</footer>