{% load static %}
{% load my_tags %}

<header class="page-head header-panel-absolute">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-default" data-auto-height="false" data-lg-auto-height="true"
      data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed"
      data-lg-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
      data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static"
      data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="210px"
      data-xl-stick-up-offset="85px" data-xxl-stick-up-offset="85px" data-lg-stick-up="true" data-xl-stick-up="true"
      data-xxl-stick-up="true">
      <div class="rd-navbar-inner">
        <div class="rd-navbar-panel">
          <button class="rd-navbar-toggle"
            data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
          <h4 class="panel-title d-lg-none">{% call_get_text "Home" language True%}</h4>
          <!-- RD Navbar Right Side Toggle-->
          <button class="rd-navbar-top-panel-toggle d-lg-none"
            data-rd-navbar-toggle=".rd-navbar-top-panel"><span></span></button>
          <div class="rd-navbar-top-panel">
            <div class="rd-navbar-top-panel-left-part">
              <ul class="list-unstyled">
                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span class="icon mdi mdi-phone align-middle"></span></div>
                    <div class="unit-body"><a href="tel:+998904362022">90 436-20-22,</a> <a class="d-block d-lg-inline-block"
                      href="tel:+998914362022">91 436-20-22</a>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span class="icon mdi mdi-map-marker align-middle"></span></div>
                    <div class="unit-body"><a href="https://www.google.com/maps?ll=41.570595,60.614984&z=14&t=m&hl=ru&gl=US&mapclient=embed&cid=4823893255036828626">{% call_get_text 'address' language True%}</a></div>
                  </div>
                </li>
                <li>
                  <div class="unit flex-row align-items-center unit-spacing-xs">
                    <div class="unit-left"><span class="icon mdi mdi-email-open align-middle"></span></div>
                    <div class="unit-body"><a href="mailto:#">info@demolink.org</a></div>
                  </div>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="rd-navbar-menu-wrap clearfix">
          <!--Navbar Brand-->
          <div class="rd-navbar-brand"><a class="d-inline-block" href="index.html">
              <div class="unit align-items-sm-center unit-xl unit-spacing-custom">
                <div class="unit-left"><img width='171' height='171' src="{% static 'images/logo.png' %}" alt='' />
                </div>
                <div class="unit-body">
                  <div class="rd-navbar-brand-title">Urganch Innovatsion</div>
                  <div class="rd-navbar-brand-slogan">University</div>
                </div>
              </div>
            </a></div>
          <div class="rd-navbar-nav-wrap">
            <div class="rd-navbar-mobile-scroll">
              <div class="rd-navbar-mobile-header-wrap">
                <!--Navbar Brand Mobile-->
                <div class="rd-navbar-mobile-brand"><a href="index.html"><img width='136' height='138'
                      src="{% static 'images/logo-170x172.png' %}" alt='' /></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                <li class="active"><a href="/{{language}}">{% call_get_text "Home" language True%}</a>
                </li>
                {% for category in categories %}
                    <li><a href="#">{% call_get_text category.name language True%}</a>
                      <ul class="rd-navbar-dropdown">
                        {% for button in category.button_set.all %}
                            <li><a href="/{{language}}/{{ button.link }}">{% call_get_text button.name language True%}</a></li>
                          {% endfor %}
                      </ul>
                    </li>
                {% endfor %}
                <li><a href="/{{language}}/qabul">{% call_get_text "Qabul" language True%}</a></li>
                <li><a href="/{{language}}/news">{% call_get_text "News" language True%}</a></li>
                <li><a href="/{{language}}/contact">{% call_get_text "contact" language True%}</a>
                </li>
                <li><a href="#">
                  {% if language == 'en' %}
                      EN
                  {% elif language == 'ru' %}
                      RU
                  {% else %}
                      UZ
                  {% endif %}
                </a>
                  <ul class="rd-navbar-dropdown1 rd-navbar-dropdown">
                    <li><a href="/uz{{ path }}">UZ</a></li>
                    </li>
                    <li><a href="/ru{{ path }}">RU</a></li>
                    </li>
                    <li><a href="/en{{ path }}">EN</a></li>
                    </li>
                  </ul>
                </li>
              </ul>
              
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>