{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URGANCH INNOVATSION UNIVERSITY</title>
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
</head>
<body>
    <div id="carousel">
        
        <div id="drag-container">
            <div id="spin-container">
                <a href="https://www.youtube.com/@uriu/about"><img src="{% static 'assets/app_icons_media___youtube_logo_video_multimedia_stream_download_play_clip.webp' %}" alt="" /></a>
                <a href="/"><img src="{% static 'assets/LOGO.png' %}" alt="" /></a>
                <a href="https://t.me/urganch_iu"><img src="{% static 'assets/Telegram_2019_Logo.svg.webp' %}" alt="" /></a>
                <a href="/photo-large.jpg"><img src="{% static 'assets/Instagram_icon.png.webp' %}" alt="" /></a>
                <a href="https://www.facebook.com/profile.php?id=100091826560046"><img src="{% static 'assets/Facebook_logo_(square).png' %}" alt="" /></a>
                <p>URGANCH INNOVATSION UNIVERSITY</p>
            </div>

            <div id="ground"></div>
        </div>
    </div>
<script src="{% static 'assets/script.js' %}"></script>
</body>
</html>