{% extends "./base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}{% call_get_text "Meyoriy hujjatlar" language True%}{% endblock %}

{% block body %}

{% include "./header.html" %}

<section class="section section-xl bg-default">
    <div class="container">
      <div class="tabs-custom tabs-vertical tabs-line tabs-line-1" id="tabs-7">
        <!--Nav tabs-->
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-1" data-bs-toggle="tab">Undergraduate Study</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-bs-toggle="tab">Graduate & Professional Study</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-bs-toggle="tab">Departments & Programs</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-4" data-bs-toggle="tab">Global Education</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-5" data-bs-toggle="tab">Summer Session</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-6" data-bs-toggle="tab">Non-Degree Offerings</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-7" data-bs-toggle="tab">Online Learning</a></li>
        </ul>
        <!--Tab panes-->
        <div class="tab-content inset-lg-left-60">
          <div class="tab-pane fade" id="tabs-7-1">
            <h2 class="fw-bold">Undergraduate Study</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>At Jonathan Carroll, we view college as a time for students to explore, exercise curiosity, and discover new interests and abilities.</p>
              <p>We provide students with an immersive, collaborative, and inspiring environment where they can develop a broadly informed, highly disciplined intellect that will help them be successful in whatever work they finally choose.</p>
              <p>Our students graduate with the values and knowledge they need to pursue meaningful work, find passion in life-long learning, and lead successful and purposeful lives.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-01-770x480.jpg" width="770" height="480" alt=""></div>
            
          </div>
          <div class="tab-pane fade" id="tabs-7-2">
            <h2 class="fw-bold">Graduate & Professional Study</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>Jonathan Carroll University offers advanced degrees through its Graduate School of Arts & Sciences and 12 professional schools. Browse the organizations below for information on programs of study, academic requirements, and faculty research.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-02-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Schools List</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <ul class="list list-unstyled list-marked">
                  <li>Graduate School of Arts & Sciences</li>
                  <li>School of Architecture</li>
                  <li>School of Art</li>
                  <li>Divinity School</li>
                  <li>School of Drama</li>
                  <li>School of Engineering & Applied Science</li>
                  <li>School of Forestry & Environmental Studies</li>
                  <li>Law School</li>
                  <li>School of Management</li>
                  <li>School of Medicine</li>
                  <li>School of Music</li>
                  <li>School of Nursing</li>
                  <li>School of Public Health</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-7-3">
            <h2 class="fw-bold">Departments & Programs</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>The following is a list of our degree-granting academic departments and programs.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-03-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Programs of Study</h6>
              <div class="text-subline"></div>
              <div class="row row-10 offset-top-20">
                <div class="col-md-6 col-lg-4">
                  <ul class="list list-unstyled list-marked">
                    <li>African American Studies</li>
                    <li>African Studies</li>
                    <li>American Studies</li>
                    <li>Anthropology</li>
                    <li>Applied Mathematics</li>
                    <li>Architecture</li>
                    <li>Art</li>
                    <li>Astronomy</li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list list-unstyled list-marked">
                    <li>Biomedical Engineering</li>
                    <li>Chemical Engineering</li>
                    <li>Chemistry</li>
                    <li>Computer Science</li>
                    <li>East Asian Languages</li>
                    <li>Ecology and Biology</li>
                    <li>Economics</li>
                    <li>Mathematics</li>
                  </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                  <ul class="list list-unstyled list-marked">
                    <li>Physics</li>
                    <li>Political Science</li>
                    <li>Portuguese</li>
                    <li>Psychology</li>
                    <li>Religious Studies</li>
                    <li>Sociology</li>
                    <li>Spanish</li>
                    <li>Statistics</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-7-4">
            <h2 class="fw-bold">Global Education</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>The Eric and Nicole Fisher Center for International and Area Studies at JCU is the University's focal point for encouraging and coordinating teaching and research on global affairs, regions, and cultures around the world. From science and engineering to arts and humanities, explore the many different ways in which faculty, students, and scholars at Jonathan Carroll undertake study, research and discussion about international and global issues.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-04-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Centers & Initiatives</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <p>Discover academic and research centers and initiatives concentrating specifically on international topics including area studies, languages, law, science, arts and humanities and more.</p>
              </div>
            </div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Faculty Research & Activities</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <p>Access the database of the Jonathan Carroll University faculty's worldwide research interests and projects. Spanning academic disciplines, JCU faculty members are involved in joint research centers and projects from Chile and Brazil to China and Japan.</p>
              </div>
            </div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Library Collections</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <p>Search the international collections of the Jonathan Carroll University Library, one of the world's leading research libraries which includes around 10.2 million volumes and information in all media, ranging from ancient papyruses to early printed books to electronic databases.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-7-5">
            <h2 class="fw-bold">Summer Session</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60"><img class="img-responsive d-inline-block" src="images/academics-05-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <p>JCU Summer Session offers courses during the summer for JCU students, qualified undergraduate students from other colleges and universities, students about to enter their last year in high school, and adult learners. Additional programs offered through JCU Summer Session include: Study Abroad, English Language Institute, Online Courses, Writers' Conference, Drama and Film, and Foreign Language Courses.</p>
            </div>
            <div class="offset-top-30"><a class="btn button-primary" href="#">Choose a Program</a></div>
          </div>
          <div class="tab-pane fade" id="tabs-7-6">
            <h2 class="fw-bold">Non-Degree Offerings</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>You don't have to be a Jonathan Carroll University student to have access to a JCU education.</p>
              <p>From online courses to on-campus experiences, there are a range of learning opportunities available for non-degree seekers.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-06-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Jonathan Carroll College</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <p>Visit a class or take courses for credit without matriculating as a Jonathan Carroll University undergraduate.</p>
              </div>
            </div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Graduate & Professional Schools</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <p>The schools of JCU offer non-degree programs ranging from research opportunities to continuing education.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-7-7">
            <h2 class="fw-bold">Online Learning</h2>
            <div class="hr divider bg-madison divider-md-0"></div>
            <div class="offset-lg-top-60">
              <p>We explore online learning for a wide and global audience: from lifelong learners seeking to improve knowledge skills, to undergraduate and graduate students looking to supplement their current classes or take a class online for college credit, a certificate or a degree.</p>
            </div>
            <div class="offset-top-30"><img class="img-responsive d-inline-block" src="images/academics-07-770x480.jpg" width="770" height="480" alt=""></div>
            <div class="offset-top-30">
              <h6 class="fw-bold">Programs List</h6>
              <div class="text-subline"></div>
              <div class="offset-top-20">
                <ul class="list list-unstyled list-marked">
                  <li>Introduction to Psychology</li>
                  <li>Mental Lives of Babies and Animals</li>
                  <li>Causes and Consequences of Corruption</li>
                  <li>Capital Punishment: Race, Poverty, & Disadvantage</li>
                  <li>Moral Foundations of Politics</li>
                  <li>Introduction to Classical Music</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% include "./footer.html" %}

<!-- Java script-->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}