{% extends "./base.html" %}
{% load static %}
{% load my_tags %}

{% block title %}{% call_get_text "Umumiy malumot" language True%}{% endblock %}

{% block body %}

{% include "./header.html" %}
<section class="section section-xl bg-catskill">
    <div class="container ">
        <h2 class="fw-bold">{% call_get_text "Umumiy malumot" language True%}</h2>
        <hr class="divider bg-madison">
        <div class="offset-top-30 offset-sm-top-60">
            <iframe  class="Tarix_YT" src="https://www.youtube.com/embed/0mjrPLuL9W0" title="Urganch innovatsion universiteti talabalar nigohida." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe class="Tarix_YT" src="https://www.youtube.com/embed/FhsdL_izmDk" title="Urganch innovatsion universiteti" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=[https://uriu.uz/media/uriu.pdf]' width='100%' height='600px' frameborder='0'></iframe>
        </div>
        <div class="row row-50">
            <div class="col-md-12 order-md-1 ">
                <p class="text-md-start">{% call_get_text "Umumiy malumot" language False%}</p>
            </div>
        </div>
    </div>
</section>

{% include "./footer.html" %}

<!-- Java script-->
<script src="{% static 'js/core.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}